<form action="/salas/crear" method="POST" class="w-50 m-auto" id="form">
    <div class="form-group"  id="numeroSala">
        <label for="identificacion">Numero de la Sala</label>
        <input class="form-control" type="number" name="numeroSala" >
    </div>

<div id="fila">

</div>
    <div class="form-group">
        <button class="btn btn-primary btn-block" type="button" onclick="agregarFila();">
            Agregar Fila
        </button>
    </div>
    <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">
            Guardar
        </button>
    </div>
</form>
